.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > div {
        position: relative;
        height: 900px;
        width: 900px;
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 10px #bfbebd;
        border-radius: 5px;
    }
}
